/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddcbbf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.edit_align {
margin: 20px;
}
input {
    border-radius: 4px;
    padding: 7px 10px;

}
.button_save {
    padding: 7px 12px;
    font-size: 16px;
    border: 1px solid #964c2a;
    background-color: #964c2a;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 50px;
} 
label {
    font-weight: bolder;
}
#courseId {
    padding: 7px 12px;
    font-size: 16px;
    border: 1px solid #964c2a;
    background-color: #964c2a;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
header {
    background-color: #bda89b;
    padding: 15px 20px;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.topnav a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: 0.3s;
}

.topnav a:hover {
    background-color: #c09d86;
    color: white;
}

h1  {
    margin: 10px;
}




